Connected to Python 3.11.8

In [ ]:
# O seu primeiro passo é unificar em um único Dataframe todos os dados pertinentes para a análise.
# Comece pelos empréstimos e você terá os dados das transações.
# Depois, mescle com os dados do acervo, para que você possa entender, por exemplo, de qual biblioteca era o material emprestado ou a qual tema ele se referia.
# Elas se relacionam pela coluna de código de barras de cada material.

In [ ]:
import pandas as pd

In [ ]:
emprestimos = pd.read_csv(r"D:\OneDrive\MIGUEL\Programação\Python\7DaysOfCode-Alura\7_Days_of_Code_Alura-Python-Pandas\Dia_1-Importando_dados\Datasets\dados_emprestimos\emprestimos-20101.csv")

In [ ]:
emprestimos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
95352,919377,C019571,NaN,2010/05/28 13:12:45.000000000,2010/05/28 17:42:02.000000000,1.687161e+06,DOCENTE
95353,919379,C019573,NaN,2010/03/05 13:26:50.000000000,2010/04/08 18:52:47.000000000,1.687161e+06,DOCENTE
95354,919381,C020714,NaN,2010/06/17 20:30:58.000000000,2010/06/24 10:51:23.000000000,1.687161e+06,DOCENTE
95355,919382,C020845,NaN,2010/03/11 15:08:05.000000000,2010/03/11 17:24:24.000000000,1.687161e+06,DOCENTE
95356,919431,Y011015,NaN,2010/06/17 08:12:48.000000000,2010/06/30 07:34:08.000000000,2.010204e+09,ALUNO DE PÓS-GRADUAÇÃO

In [ ]:
emprestimos_2 = pd.read_csv(r"D:\OneDrive\MIGUEL\Programação\Python\7DaysOfCode-Alura\7_Days_of_Code_Alura-Python-Pandas\Dia_1-Importando_dados\Datasets\dados_emprestimos\emprestimos-20102.csv")

emprestimos = pd.concat([emprestimos,emprestimos_2],ignore_index=True)

In [ ]:
emprestimos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
196048,920241,2010049629,2011/01/14 15:59:20.653000000,2010/12/30 15:40:46.929000000,2011/02/01 16:28:43.000000000,2.010065e+09,ALUNO DE GRADUAÇÃO
196049,920242,2003005918,NaN,2010/12/30 16:03:29.379000000,2011/01/03 11:43:41.000000000,2.011112e+09,ALUNO DE PÓS-GRADUAÇÃO
196050,920243,2008015977,NaN,2010/12/30 16:28:10.564000000,2011/01/25 15:10:52.000000000,2.010106e+09,ALUNO DE PÓS-GRADUAÇÃO
196051,920244,S023356,NaN,2010/12/30 16:52:19.743000000,2011/01/14 10:33:20.000000000,2.008000e+09,ALUNO DE GRADUAÇÃO
196052,920245,S024938,NaN,2010/12/30 16:52:19.891000000,2011/01/14 10:33:04.000000000,2.008000e+09,ALUNO DE GRADUAÇÃO

Restarted Python 3.11.8

In [ ]:
import os
import glob

In [ ]:
emprestimos = r"D:\OneDrive\MIGUEL\Programação\Python\7DaysOfCode-Alura\7_Days_of_Code_Alura-Python-Pandas\Dia_1-Importando_dados\Datasets\dados_emprestimos"

In [ ]:
emprestimos

'D:\\OneDrive\\MIGUEL\\Programação\\Python\\7DaysOfCode-Alura\\7_Days_of_Code_Alura-Python-Pandas\\Dia_1-Importando_dados\\Datasets\\dados_emprestimos'

In [ ]:
path_emprestimos = r"D:\OneDrive\MIGUEL\Programação\Python\7DaysOfCode-Alura\7_Days_of_Code_Alura-Python-Pandas\Dia_1-Importando_dados\Datasets\dados_emprestimos"

In [ ]:
arquivo_emprestimos = glob.glob((os.path.join(r"D:\OneDrive\MIGUEL\Programação\Python\7DaysOfCode-Alura\7_Days_of_Code_Alura-Python-Pandas\Dia_1-Importando_dados\Datasets\dados_emprestimos","*csv")))

In [ ]:
import pandas as pd 


emprestimos = pd.concat([pd.read_csv(arquivo) for arquivo in arquivo_emprestimos],ignore_index=True)

In [ ]:
emprestimos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2258013,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258014,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258015,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258016,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
2258017,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO